<header class="header">
    <nav class="nav-container">
        <a href="/" class="logo"><span>&lt;/&gt;</span>MatheusRCastro</a>
        
        <ul class="nav-links">
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/habilidades">Habilidades</a></li>
            <li><a href="/projetos">Projetos</a></li>
            <li><a href="/contato">Contato</a></li>
            <li><a href="./files/CV_MatheusRoberto.pdf" target="_blank" class="botao-curriculo">Currículo</a></li>
        </ul>
    </nav>
</header>