<section id="home" class="home-section">
    <div class="home-content">
        <p class="intro-text">Olá! Meu nome é</p>
        <h1 class="main-title">Matheus de Castro</h1>
        <h2 class="subtitle">Sou Desenvolvedor de Software.</h2>
    </div>
</section>