<main class="sobre-container">
    <section class="sobre">
        <h1 class="titulo">Sobre Mim</h1>
        <div class="sobre-conteudo">
            <div class="texto-sobre">
                <p>
                    Olá! Me chamo Matheus. Dentre muitos dos meus hobbies, os que mais ocupo meu tempo hoje em dia são:
                    aprender sobre tecnologia em geral, tocar guitarra e desenhar. Meu interesse por tecnologia começou
                    desde criança, quando eu passava minhas tardes jogando puzzles online, que, devido a utilizarem
                    muitos conceitos de HTML e CSS, me renderam um conhecimento prévio.
                    <br>
                    <br>
                    Atualmente, estou cursando Desenvolvimento de Software Multiplataforma na Fatec-SJC, e meus
                    objetivos atuais são me aprofundar em novas tecnologias de desenvolvimento, tanto de back-end quanto
                    de front-end, e buscar oportunidades de emprego na área para aprofundar ainda mais os conhecimentos
                    que tenho.
                </p>
            </div>
            <div class="foto-sobre">
                <img src="/img/foto-perfil.jpeg" alt="" />
            </div>
        </div>
    </section>
</main>